@charset "utf-8";



//ネスト
// header {
//   height: 60px;
//   ul {
//     display: flex;
//     margin: 10px;
//     padding: 5px;
//     a {
//       color: #000;
//       &::before{
//         content:'.';
//         color: #f00;
//       }
//       &:hover{
//         cursor: pointer;
//         opacity: 0.7;
//       }
//     }
    
//   }
// }




//変数について

// $darkBlue: "#1234ab";
// $headerHeight: 60px;
// $borderStyle: 3px solid #555;

// .test{
//   color:$darkBlue;
//   li{
//     border: 1px solid $darkBlue;
//     p {
//       background-color:  $darkBlue;
//     }
//   }
//   a {
//     color: #000;
//   }
// }

// header {
//   height: $headerHeight;
//   position:fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #fff;
//   border-bottom: $borderStyle;
// }

// main{
//   margin-top: $headerHeight + 20px;
//   padding: 20px;
// }

// mixinについて

// @mixin buttonStyle($color: blue, $height: 80px, $width: 200px) {
//   background-color: $color;
//   color: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 5px;
//   height: $height;
//   width: $width;
// }

// .contact {
//   a{
//     @include buttonStyle($width: 180px);
//   }
// }

// .buttons{
//   .modalopen {
//     a {
//       @include buttonStyle(green);
//     }
//   }
//   .share{
//     a{
//       @include buttonStyle(red);
//     }
//   }
// }

// header {
//   height: 60px;
//   nav{
//     ul{
//       li{
//         a{
//           @include buttonStyle(#333);
//         }
//       }
//     }
//   }
// }


$red: #0f0;
$color: blue;

.button{
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
  background-image: linear-gradient($red, adjust-hue($red, 50%));
  //lighten darken transparentsiza adjust-hue
  box-shadow: 5px 5px 3px lighten($color, 40%);
  cursor: pointer;
}