@charset "utf-8";



//ネスト
// header {
//   height: 60px;
//   ul {
//     display: flex;
//     margin: 10px;
//     padding: 5px;
//     a {
//       color: #000;
//       &::before{
//         content:'.';
//         color: #f00;
//       }
//       &:hover{
//         cursor: pointer;
//         opacity: 0.7;
//       }
//     }
    
//   }
// }




//変数について

// $darkBlue: "#1234ab";
// $headerHeight: 60px;
// $borderStyle: 3px solid #555;

// .test{
//   color:$darkBlue;
//   li{
//     border: 1px solid $darkBlue;
//     p {
//       background-color:  $darkBlue;
//     }
//   }
//   a {
//     color: #000;
//   }
// }

// header {
//   height: $headerHeight;
//   position:fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: #fff;
//   border-bottom: $borderStyle;
// }

// main{
//   margin-top: $headerHeight + 20px;
//   padding: 20px;
// }

// mixinについて

// @mixin buttonStyle($color: blue, $height: 80px, $width: 200px) {
//   background-color: $color;
//   color: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 5px;
//   height: $height;
//   width: $width;
// }

// .contact {
//   a{
//     @include buttonStyle($width: 180px);
//   }
// }

// .buttons{
//   .modalopen {
//     a {
//       @include buttonStyle(green);
//     }
//   }
//   .share{
//     a{
//       @include buttonStyle(red);
//     }
//   }
// }

// header {
//   height: 60px;
//   nav{
//     ul{
//       li{
//         a{
//           @include buttonStyle(#333);
//         }
//       }
//     }
//   }
// }


// $red: #0f0;
// $color: blue;

// .button{
//   width: 300px;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 5px;
//   font-size: 20px;
//   background-image: linear-gradient($red, adjust-hue($red, 50%));
//   //lighten darken transparentsiza adjust-hue
//   box-shadow: 5px 5px 3px lighten($color, 40%);
//   cursor: pointer;
// }


// a{
//   text-decoration: none;
// }

// @mixin arrowStyle{
//   position:absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   font-weight: normal;
// }

// @mixin buttonStyle($direction: "left"){
//   width: 200px;
//   height: 40px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: blue;
//   color: #fff;
//   font-weight: bold;
//   border-radius: 5px;
//   transition: 0.3%;
//   position: relative;
  
//   @if $direction == "left"{
//     &::before{
//       content: '<-';
//       right: 20px;
//       @include arrowStyle
//     }

//   } @else if $direction == "right" {
//     &::after{
//       content: '->';
//       left: 20px;
//       font-weight: normal;
//       @include arrowStyle
//     }
//   }
//   &:hover{
//     opacity: 0.7;
//   }

// }

// .button{
//   @include buttonStyle;
// }
// .button2{
//   @include buttonStyle("right");
// }

ul{
  list-style:none;
}

.boxes {
  li{
    width: 100px;
    height: 100px;
    background-color: orange;
    border:1px solid #333;
    @for $i from 2 through 5 {
      &:nth-of-type(#{$i}) {
        transform: translateX(($i - 1) * 20px);
        background-color:adjust-hue(orange,($i - 1) * 20px);
      }
    }
  }
}

.boxes2{
  display: flex;
  margin: 100px 0;
  li{
    $startColor: #ddd;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #aaa;
    &:not(:first-of-type){
      margin-left: 10px;
    }
    @for $i from 2 through 10 {
      &:nth-of-type(#{$i}){
        background-color: darken($startColor, 5% * $i);
        @if $i % 2 == 0 {
          transform: translateY($i * 10px);
        }@else{
          transform: translateY($i * -10px);
        }
      }
    }
  }
}

@keyframes fadeIn {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }

}

.boxes3{
  margin: 300px 0;
  display: flex;
  li {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s backwards;
    &:not(:first-of-type){
      margin-left: 10px;
    }
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}){
        animation-delay: .2s * $i;
        &::before{
          content: '#{$i}';
          font-size: 20px;
        }
      }
    }
  }
}



